table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  width: 33%;
  border: 3px solid gray;
  text-align: left;
  padding: 5px;
}
th {
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  font-size: 23px;
}
.title{
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
}
img{
  width: 100%;
}
